@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
  background-color: black;
}

/* ------------------------------------------ Titre ------------------------------------------*/

h2 {
  color: black;
  margin: 20px 0px 20px 0px;
  padding: 0;
  width: 100vw;
  text-align: center;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: black;
  font-size: 35px;
  margin: 0;
}

h4 {
  color: black;
  margin: 0;
  padding: 0;
}

/* ------------------------------------------ Accueil ------------------------------------------*/

.mainAccueil {
  width: 100%;
}

video {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
}

@media (max-width: 768px) {
  video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
    object-position: center;
  }
}

.contentAccueil {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
}

/* ------------------------------------------ Container Global ------------------------------------------*/

.globalContainer {
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principalBloc {
  width: 100vw;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
}
.container {
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ------------------------------------------NAVBAR ------------------------------------------*/

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  position: relative;
  z-index: 99;
}

.navBarContent {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.navLinks {
  list-style: none;
  display: flex;

  margin: 0;
  padding: 0;
}

.navLinks li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 0;
}

.navLinks li a,
.navLinks li button {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  align-items: center;
}

@media (max-width: 768px) {
  .navBar {
    padding: 0;
  }

  .navBarContent {
    flex-direction: column;
  }
  .hamburger {
    display: block;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: black;
  }

  .navLinks.open {
    display: flex;
  }

  .navLinks li {
    margin: 0;
    padding: 1rem 0;
  }

  .navLinks li:first-child {
    border-top: none;
  }

  .logo {
    display: none;
  }

  h1 {
    text-align: center;
  }
}

/* ------------------------------------------ A propos ------------------------------------------*/

.marionApropos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  margin-bottom: 30px;
}

.marionApropos img {
  width: 100%;
  margin-top: 18.72px;
}

.leaApropos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  margin-bottom: 30px;
}

.leaApropos img {
  width: 100%;
  margin-top: 18.72px;
}

.divInfo {
  display: flex;
  width: 300px;
}
.divInfoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0px 30px 0px 30px;
  max-width: 400px;
}

.divInfoText p {
  color: black;
  text-align: left;
  max-width: 400px;
}

@media (max-width: 768px) {
  .marionApropos {
    flex-direction: column;
    align-items: center;
  }

  .marionApropos h3,
  h4 {
    text-align: center;
  }

  .divInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
  }
}

/* ------------------------------------------ Medias ------------------------------------------*/

.mediasFlexContainer {
  display: flex;
  flex-direction: row;
}
.mediasFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.blocMedias {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.mediasImg {
  width: 60%;
}

.sectionMedias {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mediasForm {
  width: 400px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------ Jeune Ballet ------------------------------------------*/

.afficheJb {
  max-height: 500px;
}

/* ------------------------------------------ Contact ------------------------------------------*/

.leftRightContainer {
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
}

.leftBloc {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  background-color: black;
  justify-content: center;
  text-align: left;
  max-width: 500px;
  height: 450px;
  padding-left: 30px;
  padding-right: 30px;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

.leftBloc p {
  margin-bottom: 7px;
}

.rightBloc {
  text-align: center;
  border: solid black 2px;
  max-width: 500px;
  height: 450px;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

form {
  max-width: 900px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  border-radius: 5px;
}

.formRow {
  margin: 10px 10px 10px 10px;
}
.form-control {
  max-width: 500px;
  max-height: 200px;
}

.formInput {
  padding: 15px 10px;
  background-color: white;
}

.firstNameInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
  width: 130px;
}

.lastNameInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
  width: 130px;
}

.emailInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
  width: 130px;
}

.phoneInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
  width: 130px;
}

.messageInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
}

.submitButton {
  width: 100%;
}

.createForm {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iconContact {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

.iconContact img {
  height: 30px;
}

.contactTitle {
  font-size: larger;
  font-weight: bold;
}

@media (max-width: 768px) {
  .leftRightContainer {
    flex-direction: column;
    min-height: 100vh;
  }

  form {
    flex-direction: column;
  }
  .leftBloc {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    background-color: black;
    justify-content: center;
    text-align: center;
    padding: 0px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 0px 0px;
  }

  .rightBloc {
    text-align: center;
    border: solid black 2px;
    border-top-right-radius: 0px 0px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    min-height: 650px;
  }
}

/* ------------------------------------------ Inscription/Connexion ------------------------------------------*/

.inscriptionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inscriptionForm input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

.connexionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connexionForm input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

/* ------------------------------------------ Admin ------------------------------------------*/

.leftMediasForm {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftMediasForm h4 {
  color: white;
  margin-bottom: 0;
}

.createForm h4 {
  color: white;
  margin-bottom: 0;
}

.creationsMediasForm {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.creationsForm {
  width: 400px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.creationsBloc {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 500px;
}

.creationsSection {
  width: 100vw;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .creationsSection {
    margin-bottom: 30px;
  }
}

.principalSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  margin: 0px 20px 0px 20px;
}

.principalSectionImg {
  max-height: 300px;
}

.secondSection {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 500px;
  margin: 0px 20px 0px 20px;
}

p.creationTextTitre {
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 0;
}

p.creationTextDesc {
  color: black;
  font-size: 15px;
  text-align: left;
  margin-bottom: 10px;
  padding: 0;
}

p.creationTextDancer {
  color: black;
  font-size: 10px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.textAreaInput {
  max-width: 250px;
  min-height: 20px;
  max-height: 300px;
}

.buttonBloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonCreationBlack {
  background-color: black;
}

.buttonCreationBlack p {
  color: white;
}

button {
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  margin: 20px 0px 20px 0px;
}

footer {
  position: absolute;
  top: 85%;
  left: 75%;
}
