body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
  background-color: black;
}

h2 {
  color: black;
  margin: 20px 0px 20px 0px;
  padding: 0;
  width: 100vw;
  text-align: center;
}

h3 {
  color: black;
}

.mainAccueil {
  width: 100%;
}

video {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
}

p {
  margin: 0;
  padding: 0;
}

.contentAccueil {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;

  /* background-color: #000000cc; */
}

.globalContainer {
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principalBloc {
  width: 100vw;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
}

/* ------------------------------------------NAVBAR ------------------------------------------*/

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
}

.navBarContent {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.navLinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navLinks li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 0;
}

.navLinks li a,
.navLinks li button {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

/* ------------------------------------------NAVBAR ------------------------------------------*/

.container {
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.marionApropos {
  display: flex;
  justify-content: space-evenly;

  width: 100vw;
}

.marionApropos img {
  width: 100%;
  margin-top: 18.72px;
}

.divInfo {
  width: 300px;
}
.divInfoText {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 30px 0px 30px;
  max-width: 400px;
}

.divInfoText p,
h3,
h4 {
  color: black;
  text-align: left;
  max-width: 400px;
}

.mediasFlexContainer {
  display: flex;
  flex-direction: row;
}
.mediasFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.leftRightContainer {
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
}

.leftBloc {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  background-color: black;
  justify-content: center;
  gap: 2rem;
  text-align: left;
  width: 500px;
  height: 450px;
  padding-left: 30px;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

.rightBloc {
  text-align: center;
  border: solid black 2px;
  width: 500px;
  height: 450px;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

form {
  max-width: 900px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  border-radius: 5px;
}

.formRow {
  margin: 10px 20px 20px 10px;
}
.form-control {
  max-width: 500px;
  max-height: 200px;
}

.formInput {
  padding: 15px 10px;
  background-color: white;
}

.firstNameInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
  width: 130px;
}

.lastNameInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
  width: 130px;
}

.emailInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
  width: 130px;
}

.phoneInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
  width: 130px;
}

.messageInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
}

.submitButton {
  width: 100%;
}

.createForm {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inscriptionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inscriptionForm input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

.connexionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connexionForm input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

.leftMediasForm {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftMediasForm h4 {
  color: white;
  margin-bottom: 0;
}

.createForm h4 {
  color: white;
  margin-bottom: 0;
}

.creationsMediasForm {
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.creationsForm {
  width: 400px;

  align-items: center;
  display: flex;
  flex-direction: column;
}

.creationsBloc {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 500px;
}

.creationsSection {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.principalSection {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  width: 300px;
  margin: 0px 20px 0px 20px;
}

.principalSectionImg {
  max-height: 300px;
}

.secondSection {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0px 20px 0px 20px;
}

.creationText {
  color: black;
}

.textAreaInput {
  max-width: 250px;
  min-height: 20px;
  max-height: 300px;
}
.mediasForm {
  width: 400px;

  align-items: center;
  display: flex;
  flex-direction: column;
}

.buttonBloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonCreationBlack {
  background-color: black;
}

.buttonCreationBlack p {
  color: white;
}

button {
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  margin: 20px 0px 20px 0px;
}

footer {
  position: absolute;
  top: 85%;
  left: 75%;
}

.blocMedias {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.mediasImg {
  width: 60%;
}

.sectionMedias {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconContact {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}
.iconContact img {
  height: 50px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: black;
  }

  .navLinks.open {
    display: flex;
  }

  .navLinks li {
    margin: 0;
    padding: 1rem 0;
  }

  .navLinks li:first-child {
    border-top: none;
  }

  .logo {
    display: none;
  }
}

@media screen and (min-width: 761px) and (max-width: 960px) {
}
